@import 'variables.scss';

.wrapper {
    transition: 500ms;
    border-radius: 20px;
    min-height: 100%;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);

    & > .mainbar {    
        .icon-btn { margin-left: 10px; }
    
        p { 
            font-size: $bigger; 
            font-weight: bold;
        }
    }
}

#program i, #reason i { 
    font-size: $normal;
    color: var(--contrast); 
}

select {
    padding: 0 5px;
    border: 2px solid var(--contrast);
    border-radius: 10px;
    height: 30px;
    background: var(--base);
    color: var(--contrast);

    option { background: var(--base); }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;

    .popup_content {
        padding: 10px;
        background: var(--base);
        border: 2px solid var(--contrast);
        border-radius: 10px;
        position: relative;
        display: inline-block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
    
            a {
                margin-left: 20px;
                transition: all 250ms;
                text-decoration: none;

                &:hover { color: red; }

                i { color: var(--contrast); }
            }
        }
    }
}

#infos {
    font-size: $small;
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .mainbar {
        height: auto;
        justify-content: space-evenly;
        flex-wrap: wrap;
        border-radius: 20px; // modificato via js

        p { 
            font-size: $big; 
            font-weight: bold;
        }
    }

    span { font-weight: bold; }

    #kidinfo, #yearinfo {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-flow: row wrap;
        margin-bottom: 10px;

        .searchbox { 
            width: 160px; 

            input { padding-right: 10px; }
        }
    }

    #kid { flex: 1; }

    #activity { 
        flex: 0.75; 

        #actinfo {
            display: flex;
            gap: 10px;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;

            #periodprice {
                display: flex;
                flex-flow: row wrap;
                align-self: stretch;
                align-items: center;
                justify-content: space-around;
            }
        }
    }

    .block {
        height: 0;
        padding: 10px;
        padding: 0; // modificato via js
        border-width: 0px; // modificato via js
        border-color: var(--contrast);
        border-style: solid;
        border-top: none;
        border-radius: 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        overflow: hidden;

        & > p { 
            line-height: 30px; 
            margin: 0 5px 0 5px; 
            text-align: center;
        }
    }
}

@media screen and (max-width: 767px) {
    #infos { flex-direction: column; }
}