@import 'variables.scss';

.wrapper {
    transition: 500ms;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);

    & > .mainbar {    
        .icon-btn { margin-left: 10px; }
    
        p { 
            font-size: $bigger; 
            font-weight: bold;
        }
    }
}

#infos {
    font-size: $small;
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      "activity kid"
      "trip kid";

    .mainbar {
        height: 50px;

        p { 
            font-size: $big; 
            font-weight: bold;
        }
    }

    #kid { 
        grid-area: kid; 

        input {
            height: 100%;
            height: 30px;
            outline: none;
            padding: 0 10px 0 10px;
            border-radius: 10px;
        }

        .maininfos {
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;

            span {
                font-weight: bold;
            }
        }

        /*input[type=text] {
            padding: 0 5px 0 5px;
            border-radius: 10px;
        }
    
        input[type=button] {
            padding: 0 5px 0 5px;
            border-radius: 10px;
        }*/
    }
  
    #activity { grid-area: activity; }
  
    #trip { grid-area: trip; }

    #activity .mainbar, #trip .mainbar { justify-content: center; }

    .block {
        padding: 10px;
        border: 2px solid var(--contrast);
        border-top: none;
        border-radius: 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}

@media screen and (max-width: 767px) {
    .container { padding: 0; }

    .wrapper {
        border-radius: 0;
        box-shadow: none;

        & > div { border-radius: 0; }
    }
}