@import 'variables.scss';

.wrapper {
    transition: 500ms;
    border-radius: 20px;
    min-height: 100%;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);

    & > .mainbar {    
        .icon-btn { margin-left: 10px; }
    
        p { 
            font-size: $bigger; 
            font-weight: bold;
        }
    }
}

#program i, #reason i { 
    font-size: $normal;
    color: var(--contrast); 
}

select {
    padding: 0 5px;
    border: 2px solid var(--contrast);
    border-radius: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;

    .popup_content {
        padding: 10px;
        background: var(--base);
        border: 2px solid var(--contrast);
        border-radius: 10px;
        position: relative;
        display: inline-block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
    
            a {
                margin-left: 20px;
                transition: all 250ms;
                text-decoration: none;

                &:hover { color: red; }

                i { color: var(--contrast); }
            }
        }
    }
}

#infos {
    font-size: $small;
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: grid;
    grid-template-columns: .5fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      "activity kid"
      "trip kid";

    .mainbar {
        height: 50px;

        p { 
            font-size: $big; 
            font-weight: bold;
        }
    }

    #kid { 
        grid-area: kid;

        .mainbar {
            justify-content: space-evenly;
            border-radius: 20px; // modificato via js
        }

        #kidinfo, #yearinfo {
            display: flex;
            justify-content: space-evenly;
            flex-flow: row wrap;
            margin-bottom: 10px;

            p { 
                line-height: 30px; 
                margin: 0 5px 0 5px; 
            }

            select { height: 30px; }

            .searchbox { 
                width: 165px; 

                input { padding-right: 10px; }
            }

            span { font-weight: bold; }
        }

        .block {
            height: 0;
            padding: 0; // modificato via js
            border-width: 0px; // modificato via js
            border-color: var(--contrast);
            border-style: solid;

            & > p { text-align: center; }
        }
    }

    #activity { grid-area: activity; }
  
    #trip { grid-area: trip; }

    #activity .mainbar, #trip .mainbar { justify-content: center; }

    .block {
        padding: 10px;
        border: 2px solid var(--contrast);
        border-top: none;
        border-radius: 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;

        select {
            color: var(--contrast);

            option { background: var(--base); }
        }
    }
}

table {
    border-spacing: 1; 
    border-collapse: collapse; 
    background: transparent;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    //position: relative;
    
    //* { position: relative; }
    
    td, th { text-align: center; }
  
    thead tr {
        height: 30px;
        color: $dark;
        background-image: linear-gradient(to right, $secondary, $primary);
        background-attachment: fixed;
    }
    
    tbody tr { 
        height: 30px; 
        border-bottom: 1px solid var(--contrast);

        &:last-child { border: 0; }
    }
}

@media screen and (max-width: 767px) {
    #infos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .mainbar {
            height: auto;
            flex-wrap: wrap;
        }
    }

    table { 
        border: 2px solid var(--contrast);
        display: block;
        padding: 5px;
        position: relative;

        * { position: relative; }

        > *, tr, td, th { display: block; }
      
        thead { display: none; }

        tbody tr { 
            height: auto;

            td { 
                text-align: end;
                right: 10px;
                
                &:last-child { margin-bottom: 0; }

                &:before { 
                    content: attr(data-th)" :";
                    position: absolute;
                    font-weight: bold;
                    width: 45%;
                    left: 10px;
                    top: 0;
                }
            }        
        }
    }
}

@media screen and (max-width: 479px) {
    #kid .mainbar {
        flex-direction: column !important;
        justify-content: center !important;
    }
}	