@import 'variables.scss';

.wrapper {
    transition: 500ms;
    border-radius: 20px;
    min-height: 100%;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}

.mainbar {
    .icon-btn { margin-left: 10px; }

    p, select { 
        font-size: $big; 
        font-weight: bold;
    }
}

#tables {
    font-size: $small;
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}