@import 'variables.scss';

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
}

*, *::before, *::after { box-sizing: border-box; }

html, body {
    display: flex;
	flex-direction: column;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, $primary, $secondary);
    background-attachment: fixed;
    @include scrollbars(10px, $grey, linear-gradient(0deg, $secondary, $primary));
}

.container { 
    padding: 20px; 
    flex: 1 1 auto;
}

.wrapper {
    background-color: var(--base);
    color: var(--contrast);
}

.mini-btn {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--base);
    border-radius: 15px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    color: $dark;
    text-align: center;
    transition: all 0.35s;
    background-image: linear-gradient(to right, $primary, $secondary);

    &:hover { border-color: var(--contrast); }
}

footer {
    flex: 0 1 auto;
    font-size: $smaller;
    display: flex;
    background: $dark;
    color: white;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;

    #developers {
        display: flex;
        flex-wrap: wrap;
        align-self: center;

        .dev {
            display: flex;
    
            img {
                border-radius: 10px;
                margin-right: 10px;
            }

            .devinfo {
                display: flex;
                flex-direction: column;
            }
        }
    }

    img { height: 64px; }

    #logo, .dev { margin: 10px; }

    #copyright { 
        text-align: end;

        a {
            font-weight: bold;
            background: linear-gradient(to right, $primary, $secondary);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.icon-btn {
    border: none;
    background: none;
    cursor: pointer;

    i { 
        color: $dark; 
        font-size: $bigger;
    }
}

.mainbar {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: $dark;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, $secondary, $primary);
    background-attachment: fixed;
    align-items: center;
}

select {
    background-color: transparent;
    border: none;
    text-align: end;
    color: $dark;
    outline: none;
    cursor: pointer;
}

table {
    border-spacing: 1; 
    border-collapse: collapse; 
    background: transparent;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    
    td, th { text-align: center; }
  
    thead tr {
        height: 30px;
        color: $dark;
        background-image: linear-gradient(to right, $secondary, $primary);
        background-attachment: fixed;
    }
    
    tbody tr { 
        height: 30px; 
        border-bottom: 1px solid var(--contrast);

        &:last-child { border: 0; }
    }
}

.searchbox {
    position: relative;
    width: 205px;
    height: 30px;

    input {
        position: absolute;
        border: 2px solid var(--contrast);
        outline: none;
        top: 0;
        left: 0;
        color: var(--contrast);
        background: var(--base);
        width: 100%;
        height: 100%;
        padding: 10px;
        border-radius: 10px;
        padding-right: 40px;
        transition: all 0.3s ease;

        &:focus::placeholder { 
            color: var(--contrast);
            transition: all 0.3s ease;
        }

        &::placeholder {
            color: var(--low-contrast);
            transition: all 0.3s ease;
        }
    }

    .searchbtn {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 100%;
        background: var(--contrast);
        z-index: 1;
        cursor: pointer;
        right: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: all 0.3s ease;

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: var(--base);
            font-size: $big;
        }
    }
}

@media screen and (max-width: 767px) {
    .container { padding: 0; }

    .wrapper {
        border-radius: 0 !important;
        box-shadow: none;

        & > .mainbar { border-radius: 0 !important; }
    }

    table { 
        border: 2px solid var(--contrast);
        display: block;
        padding: 5px;
        position: relative;

        * { position: relative; }

        > *, tr, td, th { display: block; }
      
        thead { display: none; }

        tbody tr { 
            height: auto;

            td { 
                text-align: end;
                right: 10px;
                
                &:last-child { margin-bottom: 0; }

                &:before { 
                    content: attr(data-th)" : ";
                    position: absolute;
                    font-weight: bold;
                    width: 45%;
                    left: 10px;
                    top: 0;
                }
            }        
        }
    }
}

/*
320px — 479px : Mobile devices
480px — 767px : iPads, Tablets
768px — 1023px : Small screens
1024px — 1439px : Laptops
1440px — 2559px : Large screens, Desktops, Tv.
2560px — ... : 2K screens and so on.
*/