$primary: #55C233;
$secondary: #FFF44F;
$dark: #262626;
$grey: #626262;

$biggest: 2em;
$bigger: 1.5em;
$big: 1.25em;
$normal: 1.05em;
$small: 0.9em;
$smaller: 0.75em;
$smallest: 0.625em;

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.lightTheme {
    --base: #FFFFFF;
    --low-contrast: #626262;
    --contrast: #262626;
}

.darkTheme {
    --base: #262626;
    --low-contrast: #565656;
    --contrast: #FFFFFF;
}