<!DOCTYPE html>
<html>
  <head>
    <%- include('./head'); %>
    <link rel="stylesheet" type="text/css" href="css/error.css">
  </head>
  <body>
    <div class="container">
        <a id="home" href="/" class="icon-btn"><i class="fas fa-home fa-lg"></i></a>
        <div class="wrapper">
            <h1><%= error %></h1>
            <% if (error == 404) { %>
                <p>La pagina che stai<br>cercando non esiste !</p>
            <% } else { %>  
                <p>Si è presentato un<br>errore interno al sito !</p>
            <% } %>
        </div>
        <a id="login" href="/login" class="icon-btn"><i class="fas fa-sign-in-alt"></i></a>
    </div>
    <%- include('./footer'); %>
    <script src="javascripts/error.js"></script>
  </body>
</html>
