<footer>
    <div id="developers">
        <div class="dev">
            <img src="images/main_dev.jpg"/>
            <div class="devinfo">
                <u>Daniele Nicosia</u>
                <p>Full-stack Developer & Project Manager</p>
                <b>alwe.dev@gmail.com</b>
            </div>
        </div>
    </div>
    <img src="images/don_bosco.png"/>
    <div id="copyright">
        <a href="https://goo.gl/maps/hjvjbe1XMFTntuJq5">Via Giovanni Battista Fardella, 28, 91100 Trapani TP</a>
        <p>© Copyright 2021-2022. All rights reserved.</p>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="javascripts/main.js"></script>
<script src="javascripts/login.js"></script>