<footer>
    <div id="developers">
        <div class="dev">
            <img src="https://avatars.githubusercontent.com/zAlweNy26"/>
            <div class="devinfo">
                <p>
                    Daniele Nicosia<br>
                    Full-stack Developer & Project Manager
                </p>
                <a>alwe.dev@gmail.com</a>
            </div>
        </div>
        <!--<br>
        <div class="dev">
            <img src="https://avatars.githubusercontent.com/frirhos-he"/>
            <div class="devinfo">
                <p>
                    Bruno Palermo<br>
                    Back-end Developer (PHP, SQL)
                </p>
                <a>bruno2001@hotmail.it</a>
            </div>
        </div>-->
    </div>
    <div id="logos">
        <img src="images/trapani.png"/>
        <img src="images/don_bosco.png"/>
    </div>
    <div id="copyright">
        <!--<div>
            <img src="images/trapani.png"/>
            <img src="images/don_bosco.png"/>
        </div><br>-->
        <p>© Copyright 2021. All rights reserved.</p>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="javascripts/main.js"></script>
<script src="javascripts/login.js"></script>