<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="images/don_bosco.png" />
<link rel="shortcut icon" href="images/don_bosco.png">
<!--<link rel="stylesheet" type="stylesheets" href="reset.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">-->
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css">-->
<link rel="stylesheet" type="text/css" href="css/main.css">
<title>Registro salesiani</title>