<!DOCTYPE html>
<html>
  <head>
    <%- include('./head'); %>
    <link rel="stylesheet" type="text/css" href="css/info.css">
  </head>
  <body>
    <div class="container">
      <div class="wrapper <%= theme %>">
        Prova
      </div>
    </div>
    <%- include('./footer'); %>
    <script src="javascripts/info.js"></script>
  </body>
</html>
