<!DOCTYPE html>
<html>
  <head>
    <%- include('./head'); %>
    <link rel="stylesheet" type="text/css" href="css/info.css">
  </head>
  <body>
    <div class="container">
      <div class="wrapper <%= theme %>">
        
      </div>
      <a id="theme" class="icon-btn"><i class="fas fa-palette fa-lg"></i></a>
    </div>
    <%- include('./footer'); %>
    <script src="javascripts/info.js"></script>
  </body>
</html>
