$primary: #D5A568;
$secondary: #D1495B;
$dark: #292F36;

$normal-icon: 1.5em;

$bigger: 2.25em;
$big: 1.75em;
$normal: 1em;
$small: 0.75em;
$smallest: 0.625em;

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');